<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex>
      <a mat-button [routerLink]="['/','productos']">Administración de productos</a>
      <a mat-button [routerLink]="['/','clientes']">Administración de clientes</a>
      <a mat-button [routerLink]="['/','registro-ventas-productos']">Registro de ventas de productos</a>
      <a mat-button [routerLink]="['/','reporte-resumido']">Reporte de ventas resumido</a>
      <a mat-button [routerLink]="['/','reporte-detallado']">Reporte de ventas detallado</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>