<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="codigo" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Precio Venta</mat-label>
      <input matInput formControlName="precioVenta" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Existencia</mat-label>
      <input matInput formControlName="existencia" required>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button"
        [disabled]="!formGroup.valid">Agregar</button>
    </div>
  </form>
</div>