<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>RUC</mat-label>
            <input matInput formControlName="ruc" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput formControlName="nombreApellido" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button"
                [disabled]="!formGroup.valid">Agregar</button>
        </div>
    </form>
</div>